
  
  .swiper {
    width: 100%;
    height: 600px; ;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #eee;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .swiper-slide img {
    display: block;
    width: 500px !important;
    height: 450px !important;
    object-fit: cover;
    position: absolute;
  }
  .text{
    position:  absolute;
    z-index: 156;
    right: 80%;
    
  }
  